In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Reviews.csv",index_col=0)

In [3]:
df.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
Id,,,,,,,,,
1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [4]:
df = df[["Score","Text"]]

In [5]:
df

        Score                                               Text
Id
1           5  I have bought several of the Vitality canned d...
2           1  Product arrived labeled as Jumbo Salted Peanut...
3           4  This is a confection that has been around a fe...
4           2  If you are looking for the secret ingredient i...
5           5  Great taffy at a great price.  There was a wid...
...       ...                                                ...
568450      5  Great for sesame chicken..this is a good if no...
568451      2  I'm disappointed with the flavor. The chocolat...
568452      5  These stars are small, so you can give 10-15 o...
568453      5  These are the BEST treats for training and rew...
568454      5  I am very satisfied ,product is as advertised,...

[568454 rows x 2 columns]

In [6]:
df.isnull().sum()

Score    0
Text     0
dtype: int64

In [6]:
df["Score"].value_counts()

5    363122
4     80655
1     52268
3     42640
2     29769
Name: Score, dtype: int64